// client.scss

$primary-color: #34495E;
$client-img: url("../../client/client.png") no-repeat right center;

// Donation Form
$body-color: #34495E;
$header-bg-color: #34495E;
$title-size: 1.75em;
$title-color: #34495E;
$to-top-btn-color: #34495E;
$to-top-btn-hover-color: #34495E;