// client.scss

$primary-color: #34495E;
$client-img: url("../../client/client.png") no-repeat right center;

// Donation Form

//$body-img: url("../../client/default_bg.jpg") no-repeat center $img_top_position;	
//$bg_img_size: cover;
$adjust-img-margin: 50px;
$adjust-img-top-520: 0px;
$adjust-img-top-950: -75px;
$adjust-img-top-1200: -175px;
$adjust-img-top-1400: -275px;
$img-top-position: 75px;
$bg-img: url("../../client/default_bg.jpg") no-repeat center $img-top-position;
$body-color: $primary-color;
$header-bg-color: transparent;
$title-size: 1.75em;
$title-color: $primary-color;
$to-top-btn-color: $primary-color;
$to-top-btn-hover-color: $primary-color;

// Adjustments for the logo on donation form and content below it
$donation-form-logo-position: 125px;
$adjust-content-520: 150px;
$adjust-content-750: 150px;
$adjust-content-950: 50px;
$adjust-content-1200: 75px;
$adjust-content-1400: 25px;