$gray: #666666;
$dk-blue: #1b154b;

.client-footer {
	background: #0d0929;
	font-size: .75em;
	color: #fff;
	height: 50px;
	vertical-align: middle;

	p {
		vertical-align: middle;
		display: block;
		margin-top: 15px;
	}
}

#footer {
	background: #525252;
	color: #fff;
	padding: 30px 0 75px 0;
	
	h3 {
		font-size: 1.125em;
		text-transform: uppercase;
	}
	
	ul {
		list-style-type: none;
		padding-left: 0;
		
		li {
			margin-bottom: 10px;
		}
		
		li a {
			color: #fff;
		}
	}
	
	p a {
		color: #fff;
	}
}

.phone-info {
	text-align: center;
	color: $gray;
	margin-top: 10px;
	
	a {
		color: $gray;
	}
}

#header {
	border-bottom: 1px solid #c4aa2e;
	padding-bottom: 50px;
	margin-bottom: 75px;

	.logo-container {
		margin: 0 auto;
		text-align: center;
	}

	.nav {
		float: none;
		margin: 0 auto;
		margin-top: 25px;
	}
	
	.nav ul {
		list-style-type: none;
		margin: 0 auto;
		text-align: center;
		padding-left: none;
		margin-left: none;
		
		
		li {
			display: inline;
			font-size: 1.125em;
			text-transform: uppercase;
			margin-right: 25px;
			font-weight: 500;
			
			a {
				color: $gray;
			}
			
			a:hover,
			a:active
			{
				text-decoration: none;
				color: $dk-blue;
			}
			
		}
		
		li.last {
			margin-right: 0;
		}
	}
}


@media (min-width: 760px) {
	.phone-info {
		text-align: right;
	}
	
	.logo-container {
		margin: initial !important;
		text-align: left !important;
	}
	
	#header {
		.nav {
			float: right;
		}
	}
}

