body.donation-form {
	background: $body-color;
}

body.donation-form {
	
	.navbar-toggle {
		display: none;
	}
	
	.navbar-header {
		margin: 0 auto;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
		display: block;
		float: none;
	}
	
	.navbar {
		box-shadow: none;
	}
	
	.navbar-header a {
		color: $heading-color;
	}
	
	.navbar-header a:hover {
		text-decoration: none;
	}
	
	.content {
		max-width: 900px;
		margin: 0 auto;
		margin-top: 0px;
	}
	
	#header {
		background: $header-bg-color;
	}
	
	label {
		font-size: 1.125em;
	}
	
	.page-title {
		font-size: $title-size;
		color: $title-color;
	}
	
	.donation-grp {
		padding: 25px;
		border-bottom: 1px solid #ccc;
	}
	
	.panel-body {
		padding: 0;
	}
	
	.max-250 {
		max-width: 250px;
	}
	
	.max-350 {
		max-width: 350px;
	}
	
	.max-200 {
		max-width: 200px;
	}
	
	.max-75 {
		max-width: 75px;
	}
	
	.max-100 {
		max-width: 100px;
	}
	
	legend {
		border: none;
	}
	
	.required {
		color: #990000;
		font-weight: bold;
		font-size: 1.25em;
	}
	
	.btn-donate {
		margin: 0 auto;
		font-size: 2.25em;
		font-weight: 500;
		text-transform: uppercase;
		margin-top: 10px;
		display: block;
	}
	
}