// overrides.scss

@import './client/client.scss';

.login .login-header .brand .logo {
	display: none;
}

.login .login-header .brand {
	background: $client-img;
	background-size: contain;
	height: 75px;
}
