// variables.scss

$dark-blue: #2d353c; 

$primary-color: #333; 

// Donation Form
$body-color: #FFF;
$header-bg-color: #fff;
$title-size: 1.75em;
$title-color: #333;
$to-top-btn-color: #333;
$to-top-btn-hover-color: #666666;